@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/shapki/img-assets@main/PressStart2P_roblox_version.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/gh/shapki/img-assets@main/PressStart2P_roblox_version.woff') format('woff');
}
