@font-face {
    font-family: 'Press Start 2P';
    src: url('https://cdn.jsdelivr.net/gh/shapki/assets@main/fonts/PressStart2P_roblox_version.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/shapki/assets@main/fonts/PressStart2P_roblox_version.woff') format('woff');
    font-display: swap;
    font-weight: 800;
}
